{{#if model}}
  {{#each model as |person|}}
    {{#if person.name}}
      {{person-show model=person save-person=(action 'savePerson')
                    delete-person=(action 'deletePerson')
                    select-person=(action 'selectPerson')
                    isSelectingAssociate=isSelectingAssociate
                    select-associate=(action 'selectAssociate')
                    cancel-association=(action 'cancelAssociation')
                    selectedPerson=selectedPerson}}
    {{/if}}
  {{/each}}
  {{#if isSelectingAssociate}}
    <span class="placeholder text-center">Select pair to prevent drawing. Tap again to cancel.</span>
  {{else}}
    <span class="placeholder text-center">Tap pairs to prevent drawing each other.</span>
  {{/if}}
{{else}}
  <span class="placeholder text-center">Your List is empty.</span>
{{/if}}

{{person-form savePerson=(action savePerson)}}

{{#if model}}
  <div id="actions">

    <div class="preview-block">
      <span class="preview-label">Message Preview</span>
      <p class="preview">Hi, you are secret santa to {{model.firstObject.name}}.</p>
      {{#if allowWishlisting}}
      <p class="preview">You also have a secret santa of your own! You can't know who they are but you can write them a wishlist by clicking this link.</p>
      {{/if}}
      {{textarea value=message placeholder="Write optional message here…" class="form-control"}}
    </div>
    <div class="pull-left">
      <label>
        {{input type="checkbox" checked=allowWishlisting}} Allow Wishlisting <a href="http://hashcooki.es/journal/secret-santa">(what's this?)</a>
      </label>
    </div>
    <button {{action "randomize" model allowWishlisting message}} class="btn btn-primary pull-right">Randomize and Send</button>
  </div>
{{/if}}
