{{#if isSelectingAssociate}}
  <button {{action "selectAssociate" model}} class="person-name" style={{model.escapedStyle}}>{{model.name}}</button>
{{else}}
  <button {{action "selectPerson" model}} class="person-name" style={{model.escapedStyle}}>{{model.name}}</button>
{{/if}}
{{#if isSent}}
  Done
{{/if}}
<button {{action "delete" model}} class="btn btn-delete">Delete</button>
