<form {{action 'savePerson' name email on='submit'}}>
  <div class="form-group">
    <label>Name</label>
    {{input value=name}}
  </div>
  <div class="form-group">
    <label>Email</label>
    {{input value=email}}
  </div>

  <div class="form-group m-t-l">
    <button {{action "savePerson" name email}} disabled={{this.validations.isInvalid}} class="btn-primary">Add To List</button>
    {{#if showSendLink}}
      {{#link-to 'select-pairs' class="btn-primary"}}Next{{/link-to}}
    {{/if}}

  </div>
</form>
