{{#if isSelectingAssociate}}
  <button {{action "selectAssociate" model}} class="person-name">{{model.name}}</button>
{{else}}
  <button {{action "selectPerson" model}} class="person-name">{{model.name}}</button>
{{/if}}
<button {{action "delete" model}} class="btn">Delete</button>
