{{#if isSelectedPerson}}
  <button {{action "cancelAssociation" model}} class="person-name" style={{model.escapedStyle}}>{{model.name}}</button>
{{else}}
  {{#if isSelectingAssociate}}
    <button {{action "selectAssociate" model}} class="person-name" style={{model.escapedStyle}}>{{model.name}}</button>
  {{else}}
    <button {{action "selectPerson" model}} class="person-name" style={{model.escapedStyle}}>{{model.name}}</button>
  {{/if}}
{{/if}}
{{#if isSent}}
  <span class="sent-label">Sent</span>
{{/if}}
<button {{action "delete" model}} class="btn btn-delete">Delete</button>
